.task_card-article{
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    padding: 5px 15px;
    background-color: var(--white);
}

.task_card-button_container{
    height: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
}

.view_more-button{
    padding: 0px 10px;
    background-color: var( --light-button);
    color: var(--white);
    border-radius: 8px;
    height: 40px;
    cursor: pointer;
}


.delete-button{
    font-size: 24px;
    cursor: pointer;
    color: var(--red);
}

.check-button{
    font-size: 24px;
    cursor: pointer;
}

.checked{
    color: #28a745;
}

.checked-text{
    text-decoration: line-through;
}